.u-section-1 .u-sheet-1 {
  min-height: 312px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 5.3125rem;
  margin: 56px auto 0 73px;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  font-size: 1rem;
  margin: 23px 487px 60px 73px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 360px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 140px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 80px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-bottom: 30px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 509px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 68px 792px 0 153px;
}

.u-section-2 .u-text-2 {
  font-weight: normal;
  margin: -32px 990px 0 106px;
}

.u-section-2 .u-line-1 {
  width: 382px;
  transform-origin: left center 0px;
  margin: -15px auto 0;
}

.u-section-2 .u-list-1 {
  width: 833px;
  margin: 48px auto 60px 125px;
}

.u-section-2 .u-repeater-1 {
  min-height: 697px;
  grid-template-columns: calc(33.3333% - 39.3333px) calc(33.3333% - 39.3333px) calc(33.3333% - 39.3333px);
  grid-gap: 59px 59px;
  grid-auto-columns: calc(33.3333% - 39.3333px);
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 34px auto 0;
}

.u-section-2 .u-text-4 {
  transition-duration: 0.5s;
  margin: 16px auto 0;
}

.u-section-2 .u-btn-1 {
  transition-duration: 0.5s;
  text-transform: uppercase;
  margin: 31px auto 0;
  padding: 10px 53px 10px 51px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 34px auto 0;
}

.u-section-2 .u-text-6 {
  transition-duration: 0.5s;
  margin: 16px auto 0;
}

.u-section-2 .u-btn-2 {
  transition-duration: 0.5s;
  text-transform: uppercase;
  margin: 31px auto 0;
  padding: 10px 53px 10px 51px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 34px auto 0;
}

.u-section-2 .u-text-8 {
  transition-duration: 0.5s;
  margin: 16px auto 0;
}

.u-section-2 .u-btn-3 {
  transition-duration: 0.5s;
  text-transform: uppercase;
  margin: 31px auto 0;
  padding: 10px 53px 10px 51px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 34px auto 0;
}

.u-section-2 .u-text-10 {
  transition-duration: 0.5s;
  margin: 16px auto 0;
}

.u-section-2 .u-btn-4 {
  transition-duration: 0.5s;
  text-transform: uppercase;
  margin: 31px auto 0;
  padding: 10px 53px 10px 51px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 34px auto 0;
}

.u-section-2 .u-text-12 {
  transition-duration: 0.5s;
  margin: 16px auto 0;
}

.u-section-2 .u-btn-5 {
  transition-duration: 0.5s;
  text-transform: uppercase;
  margin: 31px auto 0;
  padding: 10px 53px 10px 51px;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 34px auto 0;
}

.u-section-2 .u-text-14 {
  transition-duration: 0.5s;
  margin: 16px auto 0;
}

.u-section-2 .u-btn-6 {
  transition-duration: 0.5s;
  text-transform: uppercase;
  margin: 31px auto 0;
  padding: 10px 53px 10px 51px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 692px;
    margin-left: 53px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 890px;
    margin-left: 6px;
  }

  .u-section-2 .u-list-1 {
    margin-left: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 39.3333px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 525px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 676px;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 29.5px) calc(50% - 29.5px);
    grid-auto-columns: calc(50% - 29.499975px);
    min-height: 1356px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 345px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 496px;
  }

  .u-section-2 .u-line-1 {
    transform-origin: right center 0px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 31px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 31px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 31px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 31px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 31px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 31px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 995px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    margin-right: 145px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -50px;
    margin-right: 296px;
  }

  .u-section-2 .u-line-1 {
    width: 194px;
    margin-top: 11px;
    margin-right: 33px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: 41px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

.u-section-2 .u-text-3,
.u-section-2 .u-text-3:before,
.u-section-2 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-3 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-4,
.u-section-2 .u-text-4:before,
.u-section-2 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-5,
.u-section-2 .u-text-5:before,
.u-section-2 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-5 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-5 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-6,
.u-section-2 .u-text-6:before,
.u-section-2 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-2,
.u-section-2 .u-btn-2:before,
.u-section-2 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-7,
.u-section-2 .u-text-7:before,
.u-section-2 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-7 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-7 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-8,
.u-section-2 .u-text-8:before,
.u-section-2 .u-text-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-3,
.u-section-2 .u-btn-3:before,
.u-section-2 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-9,
.u-section-2 .u-text-9:before,
.u-section-2 .u-text-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-9 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-9 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-11,
.u-section-2 .u-text-11:before,
.u-section-2 .u-text-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-11 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-11 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-13,
.u-section-2 .u-text-13:before,
.u-section-2 .u-text-13 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-13 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-13 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-596b-69:not([data-block-selected]):not([data-cell-selected]),
.u-block-596b-69:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-596b-69:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-596b-69:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-596b-69 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-596b-74:not([data-block-selected]):not([data-cell-selected]),
.u-block-596b-74:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-596b-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-596b-74:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-596b-74 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-10,
.u-section-2 .u-text-10:before,
.u-section-2 .u-text-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-12,
.u-section-2 .u-text-12:before,
.u-section-2 .u-text-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-14,
.u-section-2 .u-text-14:before,
.u-section-2 .u-text-14 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-596b-70:not([data-block-selected]):not([data-cell-selected]),
.u-block-596b-70:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-596b-70:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-596b-75:not([data-block-selected]):not([data-cell-selected]),
.u-block-596b-75:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-596b-75:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-4,
.u-section-2 .u-btn-4:before,
.u-section-2 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-5,
.u-section-2 .u-btn-5:before,
.u-section-2 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-6,
.u-section-2 .u-btn-6:before,
.u-section-2 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-596b-71:not([data-block-selected]):not([data-cell-selected]),
.u-block-596b-71:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-596b-71:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-596b-76:not([data-block-selected]):not([data-cell-selected]),
.u-block-596b-76:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-596b-76:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}.u-section-3 .u-sheet-1 {
  min-height: 713px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 68px 808px 0 153px;
}

.u-section-3 .u-text-2 {
  font-weight: normal;
  margin: -32px 990px 0 106px;
}

.u-section-3 .u-line-1 {
  width: 272px;
  transform-origin: left center 0px;
  margin: -14px auto 0 336px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 44px 349px 0 106px;
}

.u-section-3 .u-form-1 {
  height: 403px;
  margin: 16px 251px 0 101px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-3 .u-social-icons-1 {
  height: 34px;
  min-height: 16px;
  width: 166px;
  min-width: 94px;
  margin: 16px auto 50px 106px;
}

.u-section-3 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 708px;
    margin-left: 53px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 890px;
    margin-left: 6px;
  }

  .u-section-3 .u-line-1 {
    margin-left: 240px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 249px;
    margin-left: 6px;
  }

  .u-section-3 .u-form-1 {
    margin-right: 239px;
    margin-left: 6px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 7px;
    margin-bottom: 60px;
    margin-left: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 49px;
    margin-right: 541px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -64px;
    margin-right: 676px;
    margin-left: 0;
  }

  .u-section-3 .u-line-1 {
    margin-top: 17px;
    margin-left: 191px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 30px;
    margin-right: 35px;
    margin-left: 0;
  }

  .u-section-3 .u-form-1 {
    height: 393px;
    margin-top: 24px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 9px;
    margin-bottom: 20px;
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 28px;
    margin-right: 361px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 496px;
  }

  .u-section-3 .u-line-1 {
    margin-right: 69px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 42px;
    margin-right: 0;
  }

  .u-section-3 .u-form-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 12px;
    margin-bottom: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 161px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 296px;
  }

  .u-section-3 .u-line-1 {
    width: 82px;
    margin-right: 79px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 41px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-left: 15px;
  }
}