.u-section-1 .u-sheet-1 {
  min-height: 582px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 56px 455px 0 82px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 5.3125rem;
  margin: 14px auto 0 73px;
}

.u-section-1 .u-slider-1 {
  min-height: 144px;
  width: 1067px;
  margin: 14px 0 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-text-6 {
  font-weight: normal;
  font-size: 1rem;
  margin: 12px 487px 0 73px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: 22px auto 60px 73px;
  padding: 7px 59px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 337px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-slider-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -9px;
    margin-right: 140px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 140px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -9px;
    margin-right: 140px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 360px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 117px;
  }

  .u-section-1 .u-slider-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 12px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 140px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-slider-1 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-slider-1 {
    min-height: 100px;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
    margin-bottom: 55px;
    margin-left: -1px;
    padding-right: 31px;
    padding-left: 30px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 514px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 68px 842px 0 153px;
}

.u-section-2 .u-text-2 {
  font-weight: normal;
  margin: -32px 990px 0 106px;
}

.u-section-2 .u-line-1 {
  width: 272px;
  transform-origin: left center 0px;
  height: 1px;
  margin: -14px auto 0 311px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 35px 454px 0 129px;
}

.u-section-2 .u-shape-1 {
  width: 253px;
  height: 253px;
  margin: -303px 88px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 253px;
  height: 253px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -274px 108px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 742px;
    margin-left: 53px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 890px;
    margin-left: 6px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 225px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 354px;
    margin-left: 29px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 35px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-text-1 {
    margin-top: 127px;
    margin-right: 575px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -67px;
    margin-right: 676px;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    margin-top: 20px;
    margin-left: 164px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 36px;
    margin-right: 163px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 35px;
    margin-right: auto;
    margin-left: 243px;
  }

  .u-section-2 .u-image-1 {
    margin-right: auto;
    margin-left: 225px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 68px;
    margin-right: 395px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 496px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 42px;
    margin-left: 153px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 135px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 66px;
    margin-right: 195px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 296px;
  }

  .u-section-2 .u-line-1 {
    transform-origin: right center 0px;
    width: 103px;
    margin-right: 67px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 49px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 32px;
    margin-left: 51px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -264px;
    margin-bottom: 55px;
    margin-left: 37px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 637px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 68px 645px 0 153px;
}

.u-section-3 .u-text-2 {
  font-weight: normal;
  margin: -32px 990px 0 106px;
}

.u-section-3 .u-line-1 {
  width: 272px;
  transform-origin: left center 0px;
  height: 1px;
  margin: -14px 373px 0 auto;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1078px;
  margin: 35px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 359px;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 12px 9px;
}

.u-section-3 .u-icon-1 {
  width: 19px;
  height: 19px;
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 167px 62px 0 21px;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 22px 0 21px;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 12px 9px;
}

.u-section-3 .u-icon-2 {
  width: 19px;
  height: 19px;
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 167px 62px 0 21px;
}

.u-section-3 .u-text-6 {
  font-size: 0.875rem;
  margin: 20px 22px 0 21px;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 12px 9px;
}

.u-section-3 .u-icon-3 {
  width: 19px;
  height: 19px;
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 167px 110px 0 21px;
}

.u-section-3 .u-text-8 {
  font-size: 0.875rem;
  margin: 20px 22px 0 21px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 545px;
    margin-left: 53px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 890px;
    margin-left: 6px;
  }

  .u-section-3 .u-line-1 {
    margin-right: 273px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 313px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 21px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 21px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 21px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 70px;
    margin-right: 354px;
    margin-left: 24px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -65px;
    margin-right: 652px;
    margin-left: 24px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 18px;
    margin-right: 82px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 719px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1160px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 65px;
    margin-right: 198px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -62px;
    margin-right: 496px;
    margin-left: 0;
  }

  .u-section-3 .u-line-1 {
    transform-origin: right center 0px;
    width: 121px;
    margin-top: 15px;
    margin-right: 77px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 52px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1223px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 39px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -47px;
    margin-right: 296px;
  }

  .u-section-3 .u-line-1 {
    width: 63px;
    margin-top: 7px;
    margin-right: auto;
    margin-left: 220px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 42px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1051px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 713px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 68px 808px 0 153px;
}

.u-section-4 .u-text-2 {
  font-weight: normal;
  margin: -32px 990px 0 106px;
}

.u-section-4 .u-line-1 {
  width: 272px;
  transform-origin: left center 0px;
  margin: -14px auto 0 336px;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 44px 349px 0 106px;
}

.u-section-4 .u-form-1 {
  height: 403px;
  margin: 16px 251px 0 101px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-4 .u-social-icons-1 {
  height: 34px;
  min-height: 16px;
  width: 122px;
  min-width: 68px;
  margin: 16px auto 50px 106px;
}

.u-section-4 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 708px;
    margin-left: 53px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 890px;
    margin-left: 6px;
  }

  .u-section-4 .u-line-1 {
    margin-left: 240px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 249px;
    margin-left: 6px;
  }

  .u-section-4 .u-form-1 {
    margin-right: 239px;
    margin-left: 6px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 7px;
    margin-bottom: 60px;
    margin-left: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 49px;
    margin-right: 541px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -64px;
    margin-right: 676px;
    margin-left: 0;
  }

  .u-section-4 .u-line-1 {
    margin-top: 17px;
    margin-left: 191px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 30px;
    margin-right: 35px;
    margin-left: 0;
  }

  .u-section-4 .u-form-1 {
    height: 393px;
    margin-top: 24px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 9px;
    margin-bottom: 20px;
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 28px;
    margin-right: 361px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 496px;
  }

  .u-section-4 .u-line-1 {
    margin-right: 69px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 42px;
    margin-right: 0;
  }

  .u-section-4 .u-form-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 12px;
    margin-bottom: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 161px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 296px;
  }

  .u-section-4 .u-line-1 {
    width: 82px;
    margin-right: 79px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 41px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-left: 15px;
  }
}